# Lifted from https://github.com/celery/celery/blob/master/extra/centos/celeryd.sysconfig
# Available options: http://celery.readthedocs.org/en/latest/tutorials/daemonizing.html#available-options

# Names of nodes to start (space-separated)
#CELERYD_NODES="my_application-node_1"

# Where to chdir at start. This could be the root of a virtualenv.
#CELERYD_CHDIR="/path/to/my_application"

# Absolute or relative path to the celery program
#CELERY_BIN="/usr/local/bin/celery"
CELERY_BIN=/usr/bin/celeryd

# App instance to use (value for --app argument).
#CELERY_APP="my_application"
CELERY_APP={{celery_app_name}}

# Create log/pid dirs, if they don't already exist
#CELERY_CREATE_DIRS=1

# - %n will be replaced with the first part of the nodename.
# - %I will be replaced with the current child process index
#   and is important when using the prefork pool to avoid race conditions.
#CELERYD_LOG_FILE="/path/to/my_application/log/%n%I.log"
#CELERYD_PID_FILE="/var/run/celery/%n.pid"

# Workers run as an unprivileged user
#CELERYD_USER=celery
#CELERYD_GROUP=celery
