admin.email.from.address=matthew.simon@weightwatchers.com
admin.email.from.name=Test Test
jdbc.default.driverClassName=com.mysql.jdbc.Driver
jdbc.default.password={{liferay_db_password}}
jdbc.default.url=jdbc:mysql://{{ liferay_db_vname | default(groups['liferay_db_servers'][0]) }}/{{liferay_db_name}}?useUnicode=true&characterEncoding=UTF-8&useFastDateParsing=false
jdbc.default.username={{liferay_db_user}}
liferay.home=/opt/liferay
setup.wizard.enabled=false
web.server.http.port=80
web.server.https.port=443
default.landing.page.path=/group/guest/wwhshome
web.server.protocol={{liferay_web_protocol}}