#!/bin/bash
#
# chkconfig: 345 90 23
# description: Starts/Stops Mule Management Console
#
 
#Not needed - picked up from /etc/profile.d
#export JAVA_HOME=/usr/lib/jvm/jre
 

#Add Java binary files to PATH
PATH=$JAVA_HOME/bin:$PATH
 
#CATALINA_HOME is the location of the bin files of Tomcat  
 
#CATALINA_BASE is the location of the configuration files of this instance of Tomcat
 
#TOMCAT_USER is the default user of tomcat
SERVICE_USER={{mule_user}}
 
#TOMCAT_USAGE is the message if this script is called without any options
#TOMCAT_USAGE="Usage: $0 {\e[00;32mstart\e[00m|\e[00;31mstop\e[00m|\e[00;32mstatus\e[00m|\e[00;31mrestart\e[00m}"
 
#SHUTDOWN_WAIT is wait time in seconds for java proccess to stop
SHUTDOWN_WAIT=20
 
service_pid() {
        echo $(pgrep -f {{ mule_tomcat_versiondir }})
}
 
start() {
  pid=$(service_pid)
  if [ -n "$pid" ]
  then
    echo -e "\e[00;31mMule Management Console is already running (pid: $pid)\e[00m"
  else
    
    echo -e "\e[00;32mStarting Mule Management Console\e[00m"
    #ulimit -n 100000
    #umask 007
    #/bin/su -p -s /bin/sh tomcat
        if [ `user_exists $SERVICE_USER` = "1" ]
        then
          cd {{mule_tomcat_versiondir}}
          su $SERVICE_USER -c bin/startup.sh&               
          while true; do
            UP=`curl -s http://localhost:8585/mmc-3.5.0`
            if [ $? == 0 ]; then
              break
            fi
          done
        #Deregister test instance
        # ID="$(curl -s --basic -u {{mmc_admin_user}}:{{mmc_admin_password}} http://localhost:8585/mmc-{{mule_version}}/api/servers | grep -Eo '"id":.*?[^\\]"' | grep -Eo 'local\$[a-zA-Z0-9\$\-]+')"
        # Q=`curl -s --basic -u {{mmc_admin_user}}:{{mmc_admin_password}} -X DELETE "http://localhost:8585/mmc-{{mule_version}}/api/servers/$ID"`
                sleep 5
        else
                return 1
        fi
  status
  fi
  return 0
}
 
status(){
          pid=$(service_pid)
          if [ -n "$pid" ]
          then 
            echo -e "\e[00;32mMule Management Console is running with pid: $pid\e[00m"
            exit 0
          else 
            echo -e "\e[00;31mMule Management Console is not running\e[00m"
            exit 3
          fi
}
 
stop() {
  pid=$(service_pid)
  if [ -n "$pid" ]
  then
    echo -e "\e[00;31mStoping Mule Management Console\e[00m"
    cd {{mule_tomcat_versiondir}}
    bin/shutdown.sh
    cd ../..
    kill -9 $pid
  else
    echo -e "\e[00;31mMule Management Console is not running\e[00m"
  fi
 
  return 0
}
 
user_exists(){
        if id -u $1 >/dev/null 2>&1; then
        echo "1"
        else
                echo "0"
        fi
}
 
case $1 in
 
        start)
          start
        ;;
       
        stop)  
          stop
        ;;
       
        restart)
          stop
          start
        ;;
       
        status)
                status
               
        ;;
       
        *)
                echo -e bad command
        ;;
esac    
exit 0
