#!/bin/bash
#
# This hook was installed by ansible as part of the gitolite_hooks role. 
# It installed into this repo because of the 'notify_jenkins_on_commit' setting in group_vars/global/applications.yml
# And was influence by the value of 'jenkins_integration_host', which was probably inherited from a default or set in group_vars/environments/{{environment_name}}
#
#
# {{ansible_managed}}
#
#
NULL_SHA="0000000000000000000000000000000000000000"

JENKINS={{jenkins_integration_host}}
GIT="ssh://git@{{git_integration_host}}"
CURL_CONNECTION_TIMEOUT=10
CURL_MAX_TIMEOUT=10
CURL_OPTIONS="--connect-timeout $CURL_CONNECTION_TIMEOUT --max-time $CURL_MAX_TIMEOUT --progress-bar"
CURRENT_REPO=`basename $PWD`
CURRENT_REPO_NOEXT="${CURRENT_REPO%.*}"
BRANCH_NOTIFY="False"

while read oldrev newrev refname
do
    branch=`echo $refname | cut -f 3-10 -d /` 
    if [ "$oldrev" == "$NULL_SHA" ]
    then
      echo Branch create detected: $branch.
      BRANCH_NOTIFY="True"
    fi
    if [ "$newrev" == "$NULL_SHA" ]
    then
      echo Branch delete detected: $branch.
      BRANCH_NOTIFY="True"
    fi
done

if [ "$BRANCH_NOTIFY" == "True" ]
then
  #Ping the brancher job for this repo so it picks up changes
  echo "I'll let jenkins know about the changes in branches."
  curl -X POST ${CURL_OPTIONS} ${JENKINS}/job/${CURRENT_REPO_NOEXT}/job/${CURRENT_REPO_NOEXT}-brancher/build -s -o /dev/null
  if [ $? -ne 0 ]
  then
    echo "NOTICE - something went wrong with the branch notification!"
    echo "Does jenkins really exist at ${JENKINS}?"
    echo "Is there a brancher job installed at /job/${CURRENT_REPO_NOEXT}/job/${CURRENT_REPO_NOEXT}-brancher?"
  fi
fi

#Tickle the SCM plugin to re-poll
curl $CURL_OPTIONS $JENKINS/git/notifyCommit?url=${GIT}/${CURRENT_REPO} -s -o /dev/null
if [ $? -ne 0 ]
then
  echo "NOTICE - something went wrong with the commit notification!"
  echo "Builds may not have been scheduled automatically."
  echo "Does jenkins really exist at ${JENKINS}?"
  echo "Is the git plugin accepting requests at /git/notifyCommit?url=${GIT}/${CURRENT_REPO}?"
fi

exit 0