[repositories]
  local
  ivy-proxy-releases: http://{{artifactory_integration_host}}:8081/artifactory/repo, [organization]/[module]/(scala_[scalaVersion]/)(sbt_[sbtVersion]/)[revision]/[type]s/[artifact](-[classifier]).[ext]
  maven-central-novalidation: http://{{artifactory_integration_host}}:8081/artifactory/repo1-fallthrough, [organization]/[module]/(scala_[scalaVersion]/)(sbt_[sbtVersion]/)[revision]/[type]s/[artifact](-[classifier]).[ext]
  maven-central-novalidation-defaultpattern: http://{{artifactory_integration_host}}:8081/artifactory/repo1-fallthrough
  maven-proxy-shapshots: http://{{artifactory_integration_host}}:8081/artifactory/repo
