#!/bin/bash
# activemq auto-start
#
# description: ActiveMQ Start/Stop init script
# processname: activemq
# pidfile: Not sure of the current Location, should be /var/run/activemq.pid
# chkconfig: - 30 74


export ACTIVEMQ_HOME={{activemq_home}}
export ACTIVEMQ_USER={{activemq_user}}

# Load the VERBOSE setting and other rcS variables
# . /lib/init/vars.sh

# Define LSB log_* functions.
# Depend on lsb-base (>= 3.0-6) to ensure that this file is present.
. /lib/lsb/init-functions



case $1 in
start)
        sh $ACTIVEMQ_HOME/bin/activemq start
        ;;
stop)
        sh $ACTIVEMQ_HOME/bin/activemq stop
        ;;
status)
        STATUS=`sh $ACTIVEMQ_HOME/bin/activemq status |grep -v INFO`
        echo $STATUS | grep "ActiveMQ not running" && exit 3
        echo $STATUS | grep "ActiveMQ is running" && exit 0
        ;;
restart)
        sh $ACTIVEMQ_HOME/bin/activemq stop
        sh $ACTIVEMQ_HOME/bin/activemq start
        ;;
esac
exit 0