# Defines users that can access the web (console, demo, etc.)
# username: password [,rolename ...]
#admin: admin, admin
#user: user, user



# ADMIN Users

{% if activemq_console_admins is defined %}
{% for user, password in activemq_console_admins.iteritems() %}
{{ user }}:{{ password }}, admin
{% endfor %}
{% else %}
#activemq_console_admins dict not defined during template run
#therefore no admin users included in file 
{% endif %}




# Regular Users
{% if activemq_console_users is defined %}
{% for user, password in activemq_console_users.iteritems() %}
{{ user }}:{{ password }}, user
{% endfor %}
{% else %}
#activemq_console_users dict not defined during template run
#therefore no regular users included in file 
{% endif %}