{% if activemq_jmx_writers is defined %}
{% for user, password in activemq_jmx_writers.iteritems() %}
{{ user }} {{ password }}
{% endfor %}
{% else %}
#activemq_jmx_writers dict not defined during template run
#therefore no admin users included in file 
{% endif %}




# Regular Users
{% if activemq_jmx_readers is defined %}
{% for user, password in activemq_jmx_readers.iteritems() %}
{{ user }} {{ password }}
{% endfor %}
{% else %}
#activemq_jmx_readers dict not defined during template run
#therefore no regular users included in file 
{% endif %}