; ===========================================
;  celery beat supervisor example for Django
; ===========================================

[program:celerybeat]
command={{ live_root }}/manage.py celery beat --schedule=/var/lib/celery/celerybeat-schedule --loglevel=INFO --pidfile=
directory={{ live_root }}/
user=apache
numprocs=1
stdout_logfile={{ log_root }}/celerybeat.log
stderr_logfile={{ log_root }}/celerybeat.log
autostart=true
autorestart=true
startsecs=10

; if rabbitmq is supervised, set its priority higher
priority=998
