; ==============================================
;  celery worker supervisor example for Django
; ==============================================

[program:celery]
command={{ live_root }}/manage.py celery worker --loglevel=INFO --concurrency=4
directory={{ live_root }}/
user=apache
numprocs=1
stdout_logfile={{ log_root }}/celeryd.log
stderr_logfile={{ log_root }}/celeryd.log
autostart=true
autorestart=true
startsecs=10

; Need to wait for currently executing tasks to finish at shutdown.
; Increase this if you have very long running tasks.
stopwaitsecs = 600

; if rabbitmq is supervised, set its priority higher
; so it starts first
priority=998
