import sys
import os

LOG_ROOT = '{{ log_root }}'

SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTOCOL', 'https')
os.environ['HTTPS'] = "on"
os.environ['wsgi.url_scheme'] = 'https'

BROKER_URL = 'amqp://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ groups['wello_rabbitmq_servers'][0] }}.{{ autobahn_domain }}'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'coach_prototype',
        'USER': 'django',
        'PASSWORD': 'djangoSQLcoach',
        'HOST': '{{ groups['wello_db_masters'][0] }}',
        'PORT': '',
        'OPTIONS': {
            "init_command": "SET storage_engine=INNODB",
        }
    }
}

CACHES = {
    'default': {
        'BACKEND': 'coaching.libs.redis_cache.RedisCache',
        'LOCATION': '{{ groups['wello_redis_masters'][0] }}:6379',
        'OPTIONS': {
            'DB': 1,
            'PARSER_CLASS': 'redis.connection.HiredisParser'
        },
    },
}
