<VirtualHost *:8080>
    ServerName {{ site_domain }}
    ServerAlias {{ site_alias }}
    ServerAdmin ops@wello.com
    DocumentRoot {{ django_root }}
    ErrorLog {{ log_root }}/apache_errors.log

    Alias /static {{ live_root }}/{{ project_name }}/static

    <Directory {{ django_root }}/wsgi >
        Order allow,deny
        Allow from all
    </Directory>

    WSGIDaemonProcess staging.wello.djangoserver processes={{ wsgi_procs }} threads={{ wsgi_threads }} display-name=%{GROUP}
    WSGIProcessGroup staging.wello.djangoserver

    WSGIScriptAlias / {{ django_root }}/wsgi/wello.wsgi
</VirtualHost>
