import os
import sys
#import newrelic.agent

sys.path.insert(0,'{{ live_root }}')
sys.path.insert(0,'{{ live_root }}/{{ project_name }}')

#newrelic.agent.initialize('/home/builder/newrelic.ini')

os.environ['DJANGO_SETTINGS_MODULE'] = '{{ project_name }}.settings'

import django.core.handlers.wsgi
application = django.core.handlers.wsgi.WSGIHandler()
#application = newrelic.agent.WSGIApplicationWrapper(application)
