<?xml version='1.0' encoding='UTF-8'?>
<org.jfrog.hudson.ArtifactoryBuilder_-DescriptorImpl plugin="artifactory@2.2.2">
  <artifactoryServers>
    <org.jfrog.hudson.ArtifactoryServer>
      <url>http://{{artifactory_integration_host}}:8081/artifactory</url>
      <id>2089537312@1402408982126</id>
      <deployerCredentials>
        <username>{{ artifactory_integration_user }}</username>
        <password>{{ artifactory_integration_password }}</password>
      </deployerCredentials>
      <timeout>300</timeout>
      <bypassProxy>false</bypassProxy>
    </org.jfrog.hudson.ArtifactoryServer>
  </artifactoryServers>
</org.jfrog.hudson.ArtifactoryBuilder_-DescriptorImpl>
