<?xml version='1.0' encoding='UTF-8'?>
<com.flowdock.jenkins.FlowdockNotifier_-DescriptorImpl plugin="jenkins-flowdock-plugin@1.1.3">
  <apiUrl>https://api.flowdock.com</apiUrl>
</com.flowdock.jenkins.FlowdockNotifier_-DescriptorImpl>