<?xml version='1.0' encoding='UTF-8'?>
<hudson.tasks.Mailer_-DescriptorImpl plugin="mailer@1.6">
  <defaultSuffix>@weightwatchers.com</defaultSuffix>
  <replyToAddress>donotreply@weightwatchers.com</replyToAddress>
  <smtpHost>nyapsmtp03.na.weightwatchers.net</smtpHost>
  <useSsl>false</useSsl>
  <charset>UTF-8</charset>
</hudson.tasks.Mailer_-DescriptorImpl>