<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.gradle.Gradle_-DescriptorImpl plugin="gradle@1.23">
  <installations>
      <hudson.plugins.gradle.GradleInstallation>
      <name>Gradle {{gradle_version}}</name>
      <home>{{gradle_versiondir}}</home>
      <properties/>
      <gradleHome>{{gradle_versiondir}}</gradleHome>
    </hudson.plugins.gradle.GradleInstallation>
</hudson.plugins.gradle.Gradle_-DescriptorImpl>

