<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.git.GitSCM_-DescriptorImpl plugin="git@2.2.1">
  <generation>1</generation>
  <globalConfigName>Jenkins at {{ jenkins_master_host }} </globalConfigName>
  <globalConfigEmail>devops@weightwatchers.com</globalConfigEmail>
  <createAccountBasedOnEmail>false</createAccountBasedOnEmail>
</hudson.plugins.git.GitSCM_-DescriptorImpl>