<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{jenkins_admin_email | default('')}}</adminAddress>
  <jenkinsUrl>http://{{jenkins_master_host}}:{{jenkins_http_port}}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>