<?xml version='1.0' encoding='UTF-8'?>
<org.jvnet.hudson.plugins.SbtPluginBuilder_-DescriptorImpl plugin="sbt@1.4">
  <jars>
    <org.jvnet.hudson.plugins.SbtPluginBuilder_-Jar>
      <name>sbt-default</name>
      <path>/usr/share/sbt-launcher-packaging/bin/sbt-launch.jar</path>
    </org.jvnet.hudson.plugins.SbtPluginBuilder_-Jar>
  </jars>
</org.jvnet.hudson.plugins.SbtPluginBuilder_-DescriptorImpl>