<?xml version="1.0" encoding="UTF-8"?>

<crowd>
  <creationDate>Mon Apr 14 20:16:31 UTC 2014</creationDate>
  <version>2.7.1</version>
  <buildNumber>625</buildNumber>
  <buildDate>2014-01-13</buildDate>
  <crowdcfg>
    <property>
      <name>crowd.server.id</name>
      <value>BK9W-3RPK-T9X0-ERKE</value>
    </property>
  </crowdcfg>
  <crowdproperties>
    <property>
      <name>session.lastvalidation</name>
      <value>session.lastvalidation</value>
    </property>
    <property>
      <name>application.password</name>
      <value>xDYLI36R23DBuRHa17P1oZ</value>
    </property>
    <property>
      <name>session.isauthenticated</name>
      <value>session.isauthenticated</value>
    </property>
    <property>
      <name>application.name</name>
      <value>crowd</value>
    </property>
    <property>
      <name>crowd.server.url</name>
      <value>http://{{ ansible_fqdn }}:8095/crowd/services/</value>
    </property>
    <property>
      <name>session.validationinterval</name>
      <value>0</value>
    </property>
    <property>
      <name>session.tokenkey</name>
      <value>session.tokenkey</value>
    </property>
    <property>
      <name>application.login.url</name>
      <value>http://{{ ansible_fqdn }}:8095/crowd</value>
    </property>
  </crowdproperties>
  <directories>
    <directory>
      <id>32769</id>
      <name>WeightWatchers Crowd server</name>
      <createdDate>Mon Apr 14 20:12:34 +0000 2014</createdDate>
      <updatedDate>Mon Apr 14 20:13:08 +0000 2014</updatedDate>
      <active>true</active>
      <description></description>
      <type>INTERNAL</type>
      <implementationClass>com.atlassian.crowd.directory.InternalDirectory</implementationClass>
      <permissions>
        <permission>CREATE_USER</permission>
        <permission>CREATE_GROUP</permission>
        <permission>UPDATE_USER</permission>
        <permission>UPDATE_GROUP</permission>
        <permission>UPDATE_USER_ATTRIBUTE</permission>
        <permission>UPDATE_GROUP_ATTRIBUTE</permission>
        <permission>DELETE_USER</permission>
        <permission>DELETE_GROUP</permission>
      </permissions>
      <attributes>
        <attribute>
          <name>password_complexity_message</name>
          <value></value>
        </attribute>
        <attribute>
          <name>password_history_count</name>
          <value>0</value>
        </attribute>
        <attribute>
          <name>password_max_attempts</name>
          <value>0</value>
        </attribute>
        <attribute>
          <name>password_max_change_time</name>
          <value>0</value>
        </attribute>
        <attribute>
          <name>password_regex</name>
          <value></value>
        </attribute>
        <attribute>
          <name>user_encryption_method</name>
          <value>atlassian-security</value>
        </attribute>
      </attributes>
    </directory>
  </directories>
  <users>
    <user>
      <directoryId>32769</directoryId>
      <id>65537</id>
      <name>{{ crowd_admin_user_name }}</name>
      <createdDate>Mon Apr 14 20:13:03 +0000 2014</createdDate>
      <updatedDate>Mon Apr 14 20:13:03 +0000 2014</updatedDate>
      <active>true</active>
      <firstName>Administrator</firstName>
      <lastName>Administrator</lastName>
      <displayName>Crowd Administrator</displayName>
      <email>matthew.simon@weightwatchers.com</email>
      <externalId>4e81ef76-e06c-4e3f-b9f0-37c091bd1af1</externalId>
      <credential>{PKCS5S2}YQxBaM15L6VUijGmFMK4VxJEUxffmeoaD+pVsDK4djXQsD1kTnix7ImQ+XQgZA6x</credential>
      <credentialRecords/>
      <attributes>
        <attribute>
          <id>98307</id>
          <name>invalidPasswordAttempts</name>
          <value>0</value>
        </attribute>
        <attribute>
          <id>98305</id>
          <name>requiresPasswordChange</name>
          <value>false</value>
        </attribute>
        <attribute>
          <id>98306</id>
          <name>passwordLastChanged</name>
          <value>1397506383306</value>
        </attribute>
        <attribute>
          <id>98308</id>
          <name>lastAuthenticated</name>
          <value>1397506449296</value>
        </attribute>
      </attributes>
    </user>
  </users>
  <groups>
    <group>
      <directoryId>32769</directoryId>
      <id>131073</id>
      <name>crowd-administrators</name>
      <createdDate>Mon Apr 14 20:13:03 +0000 2014</createdDate>
      <updatedDate>Mon Apr 14 20:13:03 +0000 2014</updatedDate>
      <active>true</active>
      <description></description>
      <type>GROUP</type>
      <attributes/>
    </group>
  </groups>
  <memberships>
    <membership>
      <id>163841</id>
      <directoryId>32769</directoryId>
      <parentName>crowd-administrators</parentName>
      <childName>admin</childName>
      <parentId>131073</parentId>
      <childId>65537</childId>
      <membershipType>GROUP_USER</membershipType>
      <groupType>GROUP</groupType>
    </membership>
  </memberships>
  <applications>
    <application>
      <id>2</id>
      <name>crowd</name>
      <createdDate>Mon Apr 14 20:13:03 +0000 2014</createdDate>
      <updatedDate>Mon Apr 14 20:13:59 +0000 2014</updatedDate>
      <active>true</active>
      <type>CROWD</type>
      <description>Crowd Console</description>
      <credential>{PKCS5S2}BM5CdUTwimCKpMmAn55+LXs21ziFfdOJHVm5e0wV78SCPg2K9h/ITHKy/tYPXd1u</credential>
      <remoteAddresses>
        <remoteAddress>127.0.0.1</remoteAddress>
	<remoteAddress>{{ ansible_hostname }}</remoteAddress>
	<remoteAddress>{{ ansible_fqdn }}</remoteAddress>
        <remoteAddress>localhost</remoteAddress>
      </remoteAddresses>
      <attributes>
        <attribute>
          <name>atlassian_sha1_applied</name>
          <value>true</value>
        </attribute>
      </attributes>
      <directoryMappings>
        <directoryMapping>
          <id>196609</id>
          <directoryId>32769</directoryId>
          <allowAll>false</allowAll>
          <groupMappings>
            <groupMapping>
              <id>229377</id>
              <groupName>crowd-administrators</groupName>
            </groupMapping>
          </groupMappings>
          <permissions>
            <permission>CREATE_USER</permission>
            <permission>CREATE_GROUP</permission>
            <permission>CREATE_ROLE</permission>
            <permission>UPDATE_USER</permission>
            <permission>UPDATE_GROUP</permission>
            <permission>UPDATE_ROLE</permission>
            <permission>UPDATE_USER_ATTRIBUTE</permission>
            <permission>UPDATE_GROUP_ATTRIBUTE</permission>
            <permission>UPDATE_ROLE_ATTRIBUTE</permission>
            <permission>DELETE_USER</permission>
            <permission>DELETE_GROUP</permission>
            <permission>DELETE_ROLE</permission>
          </permissions>
        </directoryMapping>
      </directoryMappings>
    </application>
    <application>
      <id>1</id>
      <name>google-apps</name>
      <createdDate>Mon Apr 14 20:12:06 +0000 2014</createdDate>
      <updatedDate>Mon Apr 14 20:13:08 +0000 2014</updatedDate>
      <active>true</active>
      <type>PLUGIN</type>
      <description>Google Applications Connector</description>
      <credential>{PKCS5S2}dhHvA1DvqFlR1gULCCaNDfd5oGZswylBEgcgIgvjiVI5EZpL2uzjkdQ/k/ccIpHq</credential>
      <remoteAddresses/>
      <attributes>
        <attribute>
          <name>atlassian_sha1_applied</name>
          <value>true</value>
        </attribute>
      </attributes>
      <directoryMappings/>
    </application>
  </applications>
  <aliases/>
  <properties>
    <property>
      <key>crowd</key>
      <name>build.number</name>
      <value>625</value>
    </property>
    <property>
      <key>crowd</key>
      <name>cache.enabled</name>
      <value>true</value>
    </property>
    <property>
      <key>crowd</key>
      <name>com.sun.jndi.ldap.connect.pool.authentication</name>
      <value>simple</value>
    </property>
    <property>
      <key>crowd</key>
      <name>com.sun.jndi.ldap.connect.pool.initsize</name>
      <value>1</value>
    </property>
    <property>
      <key>crowd</key>
      <name>com.sun.jndi.ldap.connect.pool.maxsize</name>
      <value>0</value>
    </property>
    <property>
      <key>crowd</key>
      <name>com.sun.jndi.ldap.connect.pool.prefsize</name>
      <value>10</value>
    </property>
    <property>
      <key>crowd</key>
      <name>com.sun.jndi.ldap.connect.pool.protocol</name>
      <value>plain ssl</value>
    </property>
    <property>
      <key>crowd</key>
      <name>com.sun.jndi.ldap.connect.pool.timeout</name>
      <value>30000</value>
    </property>
    <property>
      <key>crowd</key>
      <name>current.license.resource.total</name>
      <value>0</value>
    </property>
    <property>
      <key>crowd</key>
      <name>deployment.title</name>
      <value>WeightWatchers Crowd server</value>
    </property>
    <property>
      <key>crowd</key>
      <name>des.encryption.key</name>
      <value>Mj6Y1kMZUQI=</value>
    </property>
    <property>
      <key>crowd</key>
      <name>email.template.forgotten.username</name>
      <value>Hello $firstname $lastname, You have requested the username for your email address: $email. Your username(s) are: $username If you think this email was sent incorrectly, please contact one of the administrators at: $admincontact $deploymenttitle Administrator</value>
    </property>
    <property>
      <key>crowd</key>
      <name>gzip.enabled</name>
      <value>true</value>
    </property>
    <property>
      <key>crowd</key>
      <name>mailserver.host</name>
      <value>nyapsmtp03.na.weightwatchers.net</value>
    </property>
    <property>
      <key>crowd</key>
      <name>mailserver.jndi</name>
      <value></value>
    </property>
    <property>
      <key>crowd</key>
      <name>mailserver.message.template</name>
      <value>Hello $firstname $lastname, You (or someone else) have requested to reset your password for $deploymenttitle on $date. If you follow the link below you will be able to personally reset your password. $resetlink This password reset request is valid for the next 24 hours. Here are the details of your account: Username: $username Full Name: $firstname $lastname Your account is currently: $active $deploymenttitle Administrator</value>
    </property>
    <property>
      <key>crowd</key>
      <name>mailserver.password</name>
      <value></value>
    </property>
    <property>
      <key>crowd</key>
      <name>mailserver.port</name>
      <value>25</value>
    </property>
    <property>
      <key>crowd</key>
      <name>mailserver.prefix</name>
      <value>[CROWD-DEV]</value>
    </property>
    <property>
      <key>crowd</key>
      <name>mailserver.sender</name>
      <value>crowd-dev-from@weightwatchers.com</value>
    </property>
    <property>
      <key>crowd</key>
      <name>mailserver.username</name>
      <value></value>
    </property>
    <property>
      <key>crowd</key>
      <name>mailserver.usessl</name>
      <value>false</value>
    </property>
    <property>
      <key>crowd</key>
      <name>notification.email</name>
      <value>crowd-dev-notifications@weightwatchers.com</value>
    </property>
    <property>
      <key>crowd</key>
      <name>secure.cookie</name>
      <value>false</value>
    </property>
    <property>
      <key>crowd</key>
      <name>session.time</name>
      <value>1800000</value>
    </property>
    <property>
      <key>crowd</key>
      <name>token.seed</name>
      <value>qgRwkwo88b9JHvDUqTIdrl</value>
    </property>
  </properties>
</crowd>
