#!/bin/bash

HOST_APP_DIR=/vagrant/mule_deploy
HOTDEPLOY_DIR={{mule_hotdeploy_dir}}
MULEUSER=mule

sudo mkdir -p $HOST_APP_DIR

cd $HOST_APP_DIR

for appdir in `find . -mindepth 1 -maxdepth 1 -type d |cut -f2 -d /`
do
	echo syncing $appdir
	sudo -u $MULEUSER mkdir -p $HOTDEPLOY_DIR/$appdir
	sudo -u $MULEUSER rsync -avzh --delete $HOST_APP_DIR/$appdir $HOTDEPLOY_DIR/$appdir/
done