#!/bin/bash
#
# chkconfig: 345 99 28
# description: Starts/Stops mule
#
 
#Not needed - picked up from /etc/profile.d
#export JAVA_HOME=/usr/lib/jvm/jre
 

#Add Java binary files to PATH
PATH=$JAVA_HOME/bin:$PATH
 
#CATALINA_HOME is the location of the bin files of Tomcat  
 
#CATALINA_BASE is the location of the configuration files of this instance of Tomcat
 
#TOMCAT_USER is the default user of tomcat
SERVICE_USER={{mule_user}}
 
#TOMCAT_USAGE is the message if this script is called without any options
#TOMCAT_USAGE="Usage: $0 {\e[00;32mstart\e[00m|\e[00;31mstop\e[00m|\e[00;32mstatus\e[00m|\e[00;31mrestart\e[00m}"
 
#SHUTDOWN_WAIT is wait time in seconds for java proccess to stop
SHUTDOWN_WAIT=20
LANG=en_US.UTF-8
export LANG

service_pid() {
        echo $(pgrep -f {{mule_install}}/{{mule_bundle_link}}/mule-enterprise-{{mule_version}}/lib/boot/exec)
}
 
start() {
  pid=$(service_pid)
  if [ -n "$pid" ]
  then
    echo -e "\e[00;31mMule is already running (pid: $pid)\e[00m"
  else
    
    echo -e "\e[00;32mStarting Mule\e[00m"
    #ulimit -n 100000
    #umask 007
    #/bin/su -p -s /bin/sh tomcat
        if [ `user_exists $SERVICE_USER` = "1" ]
        then
          cd {{mule_home}}
          #rm -f mule-enterprise-3.5.0/.mule/.agent/truststore.jks
          su $SERVICE_USER -c "mule-enterprise-{{mule_version}}/bin/mule -M-Dmule.mmc.bind.port={{mule_port}} -M-Denv.config.path=/tmp/environment.xml > /dev/null 2>&1 &"                
          while true; do
            UP=`curl -s http://localhost:{{mule_port}}/`
            if [ $? == 0 ]; then
              break
            fi
          done
          #{{mule_home}}/register.sh
        else
                return 1
        fi
  status
  fi
  return 0
}
 
status(){
          pid=$(service_pid)
          if [ -n "$pid" ]
          then 
            echo -e "\e[00;32mMule is running with pid: $pid\e[00m"
            exit 0
          else 
            echo -e "\e[00;31mMule is not running\e[00m"
            exit 3
          fi
}
 
stop() {
  pid=$(service_pid)
  if [ -n "$pid" ]
  then
    echo -e "\e[00;31mStoping Mule\e[00m"
        cd {{mule_home}}
        mule-enterprise-{{mule_version}}/bin/mule stop

  else
    echo -e "\e[00;31mMule is not running\e[00m"
  fi
 
  return 0
}
 
user_exists(){
        if id -u $1 >/dev/null 2>&1; then
        echo "1"
        else
                echo "0"
        fi
}
 
case $1 in
 
        start)
          start
        ;;
       
        stop)  
          stop
        ;;
       
        restart)
          stop
          start
        ;;
       
        status)
                status
               
        ;;
       
        *)
                echo -e bad command
        ;;
esac    
exit 0
