[ww]
name=WW Packages for Enterprise Linux 6 - $basearch
baseurl={{ yum_repo_url }}/$releasever/os/$basearch/
#mirrorlist=http://dmirr.iuscommunity.org/mirrorlist/?repo=ius-el6&arch=$basearch
failovermethod=priority
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-ww
