#Properties File for openDJ unattended installation

hostName                           ={{opendj_servername}}

ldapPort                           ={{opendj_ldap_port}} 
ldapsPort                          ={{opendj_ldaps_port}}
adminConnectorPort                 ={{opendj_admin_port}}
baseDN                             ={{openam_base_dn}}
baseDN                             ={{openam_identity_base_dn}}
baseDN                             ={{opendj_base_dn}}
addBaseEntry					             =true

rootUserDN                         ={{opendj_root_user}}
rootUserPassword                   ={{opendj_root_password}}
jmxPort                            ={{opendj_jmx_port}}

enableStartTLS                     =true
generateSelfSignedCertificate      =true

doNotStart                         =true

