# This file is automatically created by ansible

{% for nameserver in linux_network_dns_servers %}
nameserver {{ nameserver }}
{% endfor %}
{% if linux_network_dns_domains -%}
search
{%- endif %}
{% for domain in linux_network_dns_domains %} {{ domain }}{% endfor %}
