<VirtualHost *:80>
  ServerName {{ liferay_web_servername }}
  # Is this a hack?  Is there a better way to get the server to respond
  # to both server names?  Should this be accomplished somewhere else?
  ServerAlias {{ liferay_web_servername.replace("user", "provision") }}
  DocumentRoot {{ liferay_web_documentroot }}
  <Directory "{{ liferay_web_documentroot }}">
    AllowOverride All
    Options -Indexes FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>

{% if liferay_web_extra_parameters is defined %}
  {% for param in liferay_web_extra_parameters %}
{{ param }}
  {% endfor %}
{% endif %}


ServerAlias *
JKMountCopy On
JkMount /* loadbalancer

{% if liferay_unmount_paths is defined %}
  {% for path in liferay_unmount_paths %}

JkUnmount {{path}}*.jpg loadbalancer
JkUnmount {{path}}*.jpeg loadbalancer
JkUnmount {{path}}*.gif loadbalancer
JkUnmount {{path}}*.png loadbalancer
JkUnmount {{path}}*.ico loadbalancer
JkUnmount {{path}}*.css loadbalancer
JkUnmount {{path}}*.js loadbalancer  
JkUnmount {{path}}*.html loadbalancer  
JkUnmount {{path}}*.htm loadbalancer  

  {% endfor %}
{% endif %}



</VirtualHost>

