### TODO - in the future this should iterate over a list of potential workers


# groups {{groups['liferay_app_servers']}}adf 
{% set worker_list = '' %}

{% for host in groups['liferay_app_servers'] %}
	{% set worker_list = worker_list + "worker" + loop.index |string  %}


	{%if loop.index < groups['liferay_app_servers']|length %}
		{% set worker_list = worker_list + ", " %}
	{% else %}

worker.list=loadbalancer
worker.loadbalancer.balance_workers={{worker_list}}

	{% endif %}


{% endfor %}

worker.loadbalancer.type=lb


{% for host in groups['liferay_app_servers'] %}

worker.worker{{ loop.index }}.type=ajp13
worker.worker{{ loop.index }}.host={{ host }}
worker.worker{{ loop.index }}.port=8009
{% endfor %}
