#Configure here general information about the environment, such as SonarQube DB details for example
#No information about specific project should appear here

#----- Default SonarQube server
#sonar.host.url=http://localhost:9000
sonar.host.url=http://{{ groups['sonar_app_servers'][0] }}:9000

#----- PostgreSQL
#sonar.jdbc.url=jdbc:postgresql://localhost/sonar

#----- MySQL
#sonar.jdbc.url=jdbc:mysql://localhost:3306/sonar?useUnicode=true&amp;characterEncoding=utf8
{% if sonar_db_type == 'mysql' -%}
sonar.jdbc.url=jdbc:mysql://{{ sonar_db_vname }}:3306/sonar?useUnicode=true&amp;characterEncoding=utf8
{% endif %}

#----- Oracle
#sonar.jdbc.url=jdbc:oracle:thin:@localhost/XE
{% if sonar_db_type == 'oracle' -%}
sonar.jdbc.url=jdbc:oracle:thin:@{{ sonar_db_vname }}/XE
{% endif %}

#----- Microsoft SQLServer
#sonar.jdbc.url=jdbc:jtds:sqlserver://localhost/sonar;SelectMethod=Cursor

#----- Global database settings
sonar.jdbc.username={{sonar_db_user}}
sonar.jdbc.password={{sonar_db_password}}

#----- Default source code encoding
sonar.sourceEncoding=UTF-8

#----- Security (when 'sonar.forceAuthentication' is set to 'true')
#sonar.login=admin
#sonar.password=admin
