#!/usr/bin/env python

import sys
import json
try:
  import mechanize
  import cookielib
except ImportError, e:
  json.dumps({
    "failed" : True,
    "msg"    : "Failed import: " + e.message
  })
  sys.exit(1)

# import urllib
# import logging

def submit_license(br):
  br.form = list(br.forms())[0]
  br.form.find_control("baseUrl").value = '{{ stash_server_url }}'
  br.form.find_control("license").value = '{{ stash_license }}'
  br.submit()
  

def submit_account(br, setup_jira):
  br.form = list(br.forms())[0]
  br.form.find_control("username").value='{{ stash_admin_username }}'
  br.form.find_control("fullname").value='{{ stash_admin_fullname }}'
  br.form.find_control("email").value='{{ stash_admin_email }}'
  br.form.find_control("password").value='{{ stash_admin_password }}'
  br.form.find_control("confirmPassword").value='{{ stash_admin_password }}'
  
  # next could be "skipJira"
  br.submit('setupJira' if setup_jira else 'skipJira')

def submit_setup_jira(br, jira_db_integration):
  br.form = list(br.forms())[0]
  br.form.find_control("jiraBaseUrl").value='{{ jira_server_url }}'
  br.form.find_control("jiraAdminUsername").value='{{ jira_admin_username }}'
  br.form.find_control("jiraAdminPassword").value='{{ jira_admin_password }}'
  # I don't think I need this  . . .
  #br.form.find_control("stashBaseUrl").value=br.form.find_control("stashBaseUrl").value
  if jira_db_integration:
    br.form.find_control("addUserDirectory").value=['on']

  br.submit('done')

def get_step(br):
  try:
    br.form = list(br.forms())[0]
    return br.form.find_control("step").value
  except:
    return None

def main(setup_url):
  br = mechanize.Browser()
  cj = cookielib.LWPCookieJar()
  
  br.set_cookiejar(cj)
  
  # Browser options
  br.set_handle_equiv(True)
  # Doesn't seem to work and is not necessary
  #br.set_handle_gzip(True)
  br.set_handle_redirect(True)
  br.set_handle_referer(True)
  br.set_handle_robots(False)
  
  # for telling ansible if we've changed anything
  change_flag = 0

  
  try:
    # Start Browsing
    br.open(setup_url)
    
    while br.geturl().endswith('/setup'):
      step = get_step(br)
  
      if step == 'settings':
        submit_license(br)
      elif step == 'user':
        submit_account(br, "{{ jira_integration | default('False' ) }}" in ['on','yes','true','True'] )
        #submit_account(br, True if "{{ jira_integration | default('False' ) }}" in ['on','yes','true','True'] else False)
      elif step == 'jira':
        submit_setup_jira(br, True if "{{ use_jira_userdb | default('False') }}" in ['on','yes','true','True'] else False)
      else:
        print json.dumps({
          "failed" : True,
          "msg" : "Something went wrong with setup at " + br.geturl()
        })
        sys.exit(1)
  
      # If the step has changed, then we know we have done something that we need to report to ansible
      new_step = get_step(br)
      if step != new_step:
         change_flag += 1 
  except Exception, e:
    print json.dumps({
      "failed" : True,
      "msg" : "Something went wrong: " + str(e)
    })
    sys.exit(1)
    
  # All went well and we may have changed something
  print json.dumps({
      "changed" : ( change_flag > 0)
  })
  sys.exit(0)

main('{{ stash_server_url }}')
