#!/bin/bash
#
# chkconfig: 345 99 28
# description: Starts/Stops Apache Stash
#
 
#Location of JAVA_HOME (bin files)
export JAVA_HOME=/usr/lib/jvm/jre
 
#Add Java binary files to PATH
export PATH=$JAVA_HOME/bin:$PATH
 
#CATALINA_HOME is the location of the bin files of Stash  
export CATALINA_HOME=/opt/atlassian/stash
 
#CATALINA_BASE is the location of the configuration files of this instance of Stash
export CATALINA_BASE=$CATALINA_HOME

# PID_FILE To check for 
export PID_FILE=$CATALINA_HOME/work/catalina.pid
 
#TOMCAT_USER is the default user of stash
export TOMCAT_USER={{ stash_user }}
 
#TOMCAT_USAGE is the message if this script is called without any options
TOMCAT_USAGE="Usage: $0 {\e[00;32mstart\e[00m|\e[00;31mstop\e[00m|\e[00;32mstatus\e[00m|\e[00;31mrestart\e[00m}"
 
#SHUTDOWN_WAIT is wait time in seconds for java proccess to stop
SHUTDOWN_WAIT=20
 
stash_pid() {
  pid_from_ps=`ps -fe | grep $CATALINA_BASE | grep -v grep | tr -s " "|cut -d" " -f2`
  pid_from_file=`cat $PID_FILE 2> /dev/null`

  # remove pid file if process is not running
  if [[ -z $pid_from_ps && -f $PID_FILE ]]; then
    rm $PID_FILE
  fi

  # if the pids don't match, then something is weird and wrong
  if [[ -f $PID_FILE && -n $pid_from_ps && $pid_from_ps != $pid_from_file ]]; then
    echo $pid_from_ps > $PID_FILE
  fi

  pid_from_file=`cat $PID_FILE 2> /dev/null`
  echo $pid_from_file
}
 
start() {
  pid=$(stash_pid)
  if [ -n "$pid" ]; then
    echo -e "\e[00;31mStash is already running (pid: $pid)\e[00m"
  else
    # Start stash
    echo -e "\e[00;32mStarting stash\e[00m"
    #ulimit -n 100000
    #umask 007
    #/bin/su -p -s /bin/sh stash
    if [ `user_exists $TOMCAT_USER` = "1" ]; then
      su $TOMCAT_USER -c $CATALINA_HOME/bin/startup.sh
    else
      sh $CATALINA_HOME/bin/startup.sh
    fi
    status
  fi
  return 0
}
 
status(){
  pid=$(stash_pid)
  if [ -n "$pid" ]; then echo -e "\e[00;32mStash is running with pid: $pid\e[00m" && exit 0
  else echo -e "\e[00;31mStash is not running\e[00m" && exit 1
  fi
}
 
stop() {
  pid=$(stash_pid)
  if [ -n "$pid" ]
  then
    echo -e "\e[00;31mStoping Stash\e[00m"
    #/bin/su -p -s /bin/sh stash
    sh $CATALINA_HOME/bin/shutdown.sh
 
    let kwait=$SHUTDOWN_WAIT
    count=0;
    until [ `ps -p $pid | grep -c $pid` = '0' ] || [ $count -gt $kwait ]
    do
      echo -n -e "\n\e[00;31mwaiting for processes to exit\e[00m";
      sleep 1
      let count=$count+1;
    done
 
    if [ $count -gt $kwait ]; then
      echo -n -e "\n\e[00;31mkilling processes which didn't stop after $SHUTDOWN_WAIT seconds\e[00m"
      kill -9 $pid
    fi
  else
    echo -e "\e[00;31mStash is not running\e[00m"
  fi
 
  return 0
}
 
user_exists(){
  if id -u $1 >/dev/null 2>&1; then
    echo "1"
  else
    echo "0"
  fi
}
 
case $1 in
 
  start)
  start
  ;;
       
  stop)  
  stop
  ;;
       
  restart)
  stop
  start
  ;;
       
  status)
  status
       
  ;;
       
  *)
  echo -e $TOMCAT_USAGE
  ;;
esac    
exit 0
